* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(to right, #C49102, #4E342E);
}

.containerButtons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #F4B400;
    color:  #1A1A1A;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition:  0.3s ease;
}

button:hover {
    background-color: #d89e00;
    transform:  scale(1.05);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

li {
    border: 2px solid #3E2723;
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 100%;
    height: 140px;
    border-radius: 5px;
}

p {
    font-style: 600;
    font-weight: bold;
}

.itemPrice {
    color: #4E342E;
    letter-spacing: 0.5px;
}